<section class="mt-32 text-gray-500 py-20">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="md:w-1/2 text-center md:text-left">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Hi, I'm</h1>
        <h1 class="text-4xl md:text-6xl font-bold mb-4 gradient-text">
          Youssef Belkhiri
        </h1>
        <h1 class="text-4xl md:text-6xl font-bold mb-8">
          I build things for web.
        </h1>
      </div>
      <div class="md:w-1/2 flex justify-center md:justify-end">
        <img
          [src]="myPictureSrc"
          alt="Youssef Belkhiri"
          class="w-96 h-96 border-8 border-gray-500 rounded-full mr-10"
        />
      </div>
    </div>
  </div>
</section>
