<nav class="p-4">
  <div class="container ml-16 flex justify-between items-center">
    <!-- Logo -->
    <div class="text-gray-500 text-6xl font-bold">
      <a href="#">Logo</a>
    </div>
    <!-- Navigation Links -->
    <div class="hidden text-xl md:flex space-x-12 shadow-2xl p-6 rounded-full">
      <a href="#" class="text-gray-500 hover:text-gray-300">Home</a>
      <a href="#" class="text-gray-500 hover:text-gray-300">About</a>
      <a href="#" class="text-gray-500 hover:text-gray-300">TechStack</a>
      <a href="#" class="text-gray-500 hover:text-gray-300">Projects</a>
      <a href="#" class="text-gray-500 hover:text-gray-300">Contact</a>
    </div>
    <!-- Social Icons -->
    <div class="flex space-x-4">
      <a href="https://github.com" target="_blank" class="">
        <img [src]="imgSrcGithub" alt="github" class="w-8 h-8" />
      </a>
      <a
        href="https://linkedin.com"
        target="_blank"
        class="text-gray-300 hover:text-white"
      >
        <img [src]="imgSrcLinkedIn" alt="github" class="w-8 h-8" />
      </a>
    </div>
  </div>
</nav>
